@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  body {
   
    background-color:#d69dfc ;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: url('https://www.scotsman.com/webimg/b25lY21zOjg0YTM0N2ZkLWNhZjctNDY0ZS1hNjA1LWRjODM5ZmNmMTZmMTpkOWU4OTA1MS0zYWQ4LTRhYzItOTU1Mi1kMWRiZGUzOWNkOGY=.jpg') no-repeat;
  background-size: cover;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background: url('https://www.scotsman.com/webimg/b25lY21zOjg0YTM0N2ZkLWNhZjctNDY0ZS1hNjA1LWRjODM5ZmNmMTZmMTpkOWU4OTA1MS0zYWQ4LTRhYzItOTU1Mi1kMWRiZGUzOWNkOGY=.jpg') no-repeat;
  background-size: cover;
}


:focus {
  outline: 0;
}

body,
input,
textarea,
button {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

.sorteio-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
color:#d69dfc;
  z-index: 2;
  text-align: center; /* centraliza o texto */
}

.box-resultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  text-align: center; /* centraliza o texto */
}
.box-resultado > h1{
  font-size: 32px;
}
.container {
  max-width: 76rem;
  height: calc(100vh - 6rem);
  margin: 3rem auto;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("imagem2.png") no-repeat center center fixed;
    background-size:contain;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}





#randomNumber {
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 82px;
  text-align: center;
  letter-spacing: 0.005em;
}

#number{
    
  display: flex;
  flex-direction: row;
  width: 600px;
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  background: transparent;
  transition: border-color 0.2s;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
  font-size: 1.5rem;
  color: #ffff;
  font-weight: 700;
}

.box-numeros-sorteados{
  display: flex;
  flex-direction: column;
}

button {
  background-color: #f7c2c5;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  width: 200px;
  }
  button:hover {
    background-color: #ff858e;
    cursor: pointer;
  
  }


  
  
 
  
